.ReserveBoardTable2 {
    width: 80%;
    border: 5px solid #73AD21;
    border-radius: 15px;
    color: grey;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 120px;
    height: 100%;
    padding: 12px 0px 12px 30px;
    background-color: #F0FFFF;
    box-sizing: border-box;
    display: block;
    z-index: 1;
    font-size: 32px;
}