.LeaderboardPlayer {
    align-items: center;
    background-color: #B5CFE7;
    border-left: 10px solid #0071BC;
    color: black;
    display: flex;
    height: 3em;
    text-decoration: none;
    margin-bottom: 15px;
}

.LeaderboardPlayer > * {
    margin-left: 0.6em;
}

.LeaderboardPlayer > *:last-child {
    margin-left: 0;
    margin-right: 0.6em;
}

.Logo {
    flex: 1;
}

.Logo img {
    height: 1em;
    width: auto;
}

.NameRank {
    /* font-size: 30px; */
}

.Profile {
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 15px;
    padding: 0 0.3em;
}

.Challenge {
    border-right: 1px solid black;
    color: blue;
    font-size: 15px;
    padding: 0 0.3em;
}
